*{
  list-style:none;
  font-family:'Century Gothic';
  /* color:#000000; */
}
a{
  padding:5px 10px;
  border-radius:5px;
  background-color:#c0c0c0;
  text-decoration:none;
  color:black;
}
a:hover{
  opacity:0.7;
}
header{
  background-color:black;
  color:white;
}
header h1{
  padding:10px 10px;
}
.top{
  text-align:center;
  background-color:#696969;
  width:80%;
  border-radius:20px;
  margin:0 auto;
  padding-bottom:20px;
}
.name{
  font-size:70px;
}
.top-word{
  color:#d3d3d3;
}
.work{
  margin:0 25px;
}
.main{
  /* text-align:center;
  background-color:#a9a9a9;
  width:60%;
  margin:0 auto;
  border-radius:20px; */
}
.about{
  text-align:center;
  background-color:#a9a9a9;
  width:60%;
  margin:0 auto;
  border-radius:20px;
  padding-bottom:15px;
}
.blog{
  margin-bottom:15px;
  display:inline-block;
}
/* .twitter{
  margin-top:30px;
} */
.works{
  text-align:center;
  background-color:#a9a9a9;
  width:60%;
  margin:0 auto;
  border-radius:20px;
}
.contact{
  text-align:center;
  background-color:#a9a9a9;
  width:60%;
  margin:0 auto;
  border-radius:20px;
  padding-bottom:20px;
}
